@page
@model Profile

<h1>My Profile</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="User.Username" class="control-label"></label>
        <input asp-for="User.Username" class="form-control" readonly/>
        <span asp-validation-for="User.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="User.Password" class="form-control" hidden/>
    </div>
    <div class="form-group">
        <label asp-for="User.FullName" class="control-label"></label>
        <input asp-for="User.FullName" class="form-control" />
        <span asp-validation-for="User.FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Email" class="control-label"></label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Role" class="control-label"></label>
        <select asp-for="User.Role" class="form-control">
            <option value="Attendee">Attendee</option>
            <option value="Organizer">Organizer</option>
        </select>
        <span asp-validation-for="User.Role" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Profile</button>
        <p>@TempData["CheckUpdate"]</p>
    </div>
</form>